@charset "utf-8";

/* CSS Document */


body { 
	padding-top: 50px;
	padding-bottom: 50px;
	background-image:url(../img/fondo.png);
	background-repeat: repeat-x repeat-y;
}
.encabezado{	
	border-bottom: 15px solid rgba(117,13,28,0.7);
	/*background-color: rgba(117,13,28,0.7);*/
	margin-bottom: 15px;
	margin-top: 15px;
	padding: 1px 0 5px 0;
	text-align: center;
	overflow: hidden;
}
.encabezado .logo{
	background-color: #457;*/
	display: inline-block;
	float: left;
}

.encabezado .logo2{
	background-color: #912;*/
	display: inline-block;
	float: right;
}

.encabezado .nombre{
	/*background-color: #678;*/
	display: inline-block;
	text-align: center;
	vertical-align: middle;	
}
.encabezado .nombre h2{	
	color: rgba(255,255,255,1);
	text-transform: uppercase;
	font-weight: bold;
	font-size: 20pt;
	text-shadow:2px 1px 1px rgba(117,13,28,1);
}
.encabezado .nombre p{	
	text-transform: uppercase;
	font-weight: bold;
	font-size: 13pt;	
}

.navegacion{	
	background-color: rgba(255,255,255,1);
	box-shadow: 0px 2px 20px 0px rgba(57, 2, 26, 0.3);
}
.navegacion .navbar-nav li a{	
	color: rgba(117, 13, 28, 1);
	margin: 0;
	font-weight: bold;
}
.navegacion .navbar-nav li a:hover{	
	color: rgba(117, 13, 28, 0.7);
	background-color: transparent;
}
.navegacion .navbar-nav li .active, 
.navegacion .navbar-nav li .active:hover{
	background-color: rgba(117,13,28,1);	
	color: rgba(255,255,255,1);
}
.navegacion .navbar-header button{
	background-color: rgba(117,13,28,0.8);	
}
.navegacion .navbar-header .navbar-brand{
	color: rgba(117,13,28,1);
	font-size: 13pt;
	font-weight: bold;
}

.login{
	background-color: rgba(0,0,0,0.6);
	border-radius: 5px;
	margin-bottom: 10px;
	padding: 10px 25px;
}
.login h4{
	margin-top: 0;
	font-size: 18pt;
}
.login p{
	font-size: 11pt;
}
.login form div{
	margin-bottom: 10px;
}
.opciones{
	background-color: rgba(0,0,0,0.6);
	border-radius: 5px;
	padding: 10px 25px;
}
.opciones h4{
	margin: 0;
}
.opciones ul{
	margin: 0;
	padding: 0;
}
.opciones ul li{
	display: block;
	background-color: rgba(255,255,255,1);
	padding: 7px;
	margin-bottom: 4px;
}


